<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795163016558-33nk68ned0cr6n58amojt8tfrb66k20r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795163016558-33nk68ned0cr6n58amojt8tfrb66k20r</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kZ75QkFIDyJwxwphINuzl0auIqSgW6w</string>
	<key>GCM_SENDER_ID</key>
	<string>795163016558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AfanasevAI.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-4b97a</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-4b97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795163016558:ios:f112a273ee54a7e8ca157f</string>
</dict>
</plist>